.topnav {
        background-color: black;
        overflow: hidden;
        border-style: dashed;
}

.topnav a {
        float: left;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
}

.topnav a:hover {
        background-color: #ddd;
        color: black;
}

.topnav a.active {
        background-color: white;
        color: black;
}

.textbox {
        margin-left: 2em;
}

.textbox button {
        background-color: #717171;
        border: none;
        color: white;
        padding: 5px 10px;
        text-align: left;
        text-decoration: none;
        display: inline-block;
        font-size: 13px;
}


body {
        font-family: monospace;
}

.status {
        width: 92px;
        border-style: solid;
        text-align: center;
        margin-bottom: 1em;
        margin-left: -16; */ Dont thing about this one too much
}

.split {
        height: 80%;
        width: 80%;
        position: fixed;
        z-index: 1;
        top: 50px;
        overflow-x: hidden;
        margin-top: 2%;
}


.right {
        right: 5%;
}

.left {
        left: 0;
}

.credit {
        position: fixed;
        bottom: 0;
        left: 50%;
        text-align: center;
}
