<head>
        <link rel="stylesheet" href="{{ url_for('static', filename='filemanager.css') }}">
        
        <div class="topnav">
                <a class="active" href="/"><strong>PigPen</strong></a>
                <a href="/">Home</a>
                <a href="/dirs">Directories</a>
                <a href="/snort"> Snort </a>
        </div> 

</head>
<body>


        <h3> Quick Access Dirs </h3>
        {% for i in range(0, len) %} 
        <ul><p> <a href="/files?file={{ dirs[i] }}"> {{ dirs[i] }} </a> </p> </ul>
        {% endfor %} 

</body>
