<head>
  <title>Edit {{ file_to_edit }}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='editor.css') }}">  
        <div class="topnav">
                <a class="active" href="/"><strong>PigPen</strong></a>
                <a href="/">Home</a>
                <a href="/dirs">Directories</a>
                <a href="/snort"> Snort </a>
        </div> 
</head>
<body>
  <h3>Currently Editing: {{ fileToEdit }}</h3>
  <form method="POST" action="/edit?file={{ fileToEdit }}">
    <textarea name="content">{{ content }}</textarea><br />
    <button type="submit" name="save">Save</button>
<!--    <button type="submit" name="reload">Reload Snort</button> -->
  </form>



<!-- 
  <form method="POST" action="/reload">
      <button type="submit" name="reload">Back</button>
    </form>
-->
</body>
</html>
