<head>
        <link rel="stylesheet" href="{{ url_for('static', filename='filemanager.css') }}">  

        <div class="topnav">
                <a class="active" href="/"><strong>PigPen</strong></a>
                <a href="/">Home</a>
                <a href="/dirs">Directories</a>
                <a href="/snort"> Snort </a>
        </div> 

</head>
<body>


<h3> Current File Path: {{ path }} <a href="files?file={{ prevPath }}"> .. </a> </h3>

        <form method="GET" action="/create">
                <input type="hidden" name="file" value="{{ path }}"> >
                <input type="text" name="filename" placeholder="Enter File Name" required>
                <button type="submit"> Create File </button>
        
        </form>
        {% for i in range(0, len) %}
                {% if fileList[i].type == 'file': %}
                        <ul>
                        <p>      {{ fileList[i].path }} 
                                <a href="edit?file={{ fileList[i].path }}"> [EDIT] </a>
                                <a href="delete?file={{ fileList[i].path }}" onclick="return confirm('Are you sure you want to delete this file?');"> [DELETE] </a>
                        </p>
                        </ul>
                {% else %}
                        <ul>
                        <p>     <a href="files?file={{ fileList[i].path }}"> {{ fileList[i].path }} </a>
                        </ul>
                {% endif %}
        {%endfor%} 
</body>
