<h2> PigPen </h2>

    <form method="POST" action="/start">
      <button type="submit" name="start_button">Start Snort</button>
    </form>
    <form method="GET" action="/files">
      <button type="submit" name="file" value="/usr/local" >File Manager</button>
    </form>
    <form method="POST" action="/kill">
      <button type="submit" name="kill_button">Kill Snort</button>
    </form>
    <form method="POST" action="/quit">
      <button type="submit" name="quit_button">Quit Handler</button>
    </form>
