<html>
<head>
        <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>

        <div class="topnav">
                <a class="active" href="/"><strong>PigPen</strong></a>
                <a href="/">Home</a>
                <a href="/dirs">Directories</a>
                <a href="/snort"> Snort </a>
        </div> 

<div class="split left">
        <div class="textbox">
                <div class="status">
                        <h2> PigPen </h2> 
                        <h2> Status </h2>
                        {% if isSnort == True: %}
                                <h3 style="color:green"> Running </h3>
                        {% else %}
                                <h3 style="color:red"> Stopped </h3>
                        {% endif %} 
                </div>
</div>
</div>
<div class="split right">
        <h2> How to Use </h2>
        <ul>

                <h4> Edit, delete, create files, configs, or anything else in <a href="/dirs"> Directories </a> </h4>
                <p>     - Files created in "/conf" will be used as startup configurations, "snort" does not need to be specified in the configuration file</p>
                <pre>- Example:<i>"-c /usr/local/etc/snort/snort.lua -R /usr/local/etc/rules/local.rules -i eth0 -A alert_full -l /var/log/snort"</i></pre> 
                <pre>    - Saved as example.conf in "/usr/local/snort/conf/" with the inbuilt file explorer </pre> 
                <h4> Start Snort and monitor terminal output in <a href="/snort"> Snort </a> </h4>
                <p>     - Snort is fully controlled here, all terminal output is shown to the right of the screen </p>
        </ul>
</div>

        </div>
 </body>
        
<div class="credit">

        <small> <a href="https://github.com/BiscottiMuncher/PigPen"> Evan Metzinger </a> 2025  </small>
</div>
 </html>
